@model Stock.ViewModels.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/Dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/Dashboard/css/sb-admin.css" rel="stylesheet" />
    <title>Stock - Register</title>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input asp-for="FirstName" type="text" id="firstName" class="form-control" placeholder="First name"  autofocus="autofocus">
                                    <label for="firstName">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input asp-for="LastName" type="text" id="lastName" class="form-control" placeholder="Last name" >
                                    <label for="lastName">Last name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" >
                            <label for="inputEmail">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" >
                                    <label for="inputPassword">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" >
                                    <label for="confirmPassword">Confirm password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" >Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" asp-action="Login" asp-controller="Account">Login Page</a>
                    <a class="d-block small" asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/lib/Dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/Dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/Dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
