@model Stock.Models.Product

@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <div class="card mb-2 col col-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd class="col-sm-9 text-center">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />  
        <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fas fa-table"></i> Back to List</a>
    </form>
</div>
</body>
</html>
