@model Stock.Models.Product

@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row col col-6">
                <div class="col col-4">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                </div>
                <div class="col col-8">
                    <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fas fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



</body>
</html>
